#!/usr/bin/env python3

cookies = {'remember_web_59ba36addc2b2f9401580f014c7f58ea4e30989d': 'eyJpdiI6InkzTDdRVEpUZ1Z4cHBPMndLbXNVS2c9PSIsInZhbHVlIjoiZjlLRm1UZldxNERDUUlBYnFFVm9MN0dwZm5aWVA5VFlsY3A1eW5MdFZLMllJd2w4YzhHUnlcLzZraER6bWpcLzVrRVhxVUVrRkpLWTNZb0pTK2lVTDdhOXl0XC9KQ3I3MnJoS2NmTUZqXC8xZ09ZYmEwdlF6QlBUTFVMTndoeVdINklWSmVza3pCWTB4cmZCVWJrdGlaVXRtbUtpVnhoNHJCZ3A1ck43Z0VcL01xMUE9IiwibWFjIjoiMmZjMzZiOWRiODI3NjY4MGVhNzQ1MWNjNTBlZjYyYmU4MTRhZTJiMWY1YzQ2MTkyMzUzMjgwMTE0OTMwMjM1NyJ9'}
address = 'http://localhost:8000'
CHECK_INTERVAL = 5
